/*
Source - https://stackoverflow.com/a
Posted by ModernDesigner, modified by community. See post 'Timeline' for change history
Retrieved 2025-11-30, License - CC BY-SA 4.0
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: "Popins", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(images/sky-background-video-conferencing_23-2148639325.webp);

}
.container {
    position: relative;
    width: 400px;
    height: 555px;
    background: rgba(255, 255 gren, 255, 1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255 gren, 255, 2);
    border-radius: 16px;
    padding: 20px;
    color: white;

}
.search-box {
    position: relative;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;

    
}
.search-box i {
position: absolute;
left: 10px;
font-size: 28px
;



}

.search-box input{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255 gren, 255, 2);
    outline: none;
    border-radius: 10px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 48px 0 42px;
    
};

.search-box input:placeholder-shown {
    color: white;
    text-transform: capitalize;

}
.search-box button {
position: absolute;
right: 0;
width: 40px;
height: 100%;
background: transparent;
border: none;
outline: none;
font-size: 28px;
color: rgb(255, 255, 255);
padding: 0 40px 0 5px;


}

/* wether images  */
.weather-box img {
    width: 60%;
}
.weather-box{
    text-align: center;
    margin: 70px 0;    

}

.weather-box .temperature span {

    position: relative;
    font-size: 64px;
    line-height: 1;
    font-weight: 700;
    margin-left: 20px 0 6px -30px;

    
}
.weather-box .temperature {

    position: relative;
    font-size: 64px;
    line-height: 1;
    font-weight: 700;
    margin-left: 20px 0 6px -30px;

    
}
.weather-box .description {
    font-size: 22px;
    font-weight:  500px;
    text-transform: capitalize;

}
.weather-details{
    position: absolute;
    bottom:40px
    /* left: 0; */
    width: 100%;
    padding: 0 20px;
    display: flex;

}
.weather-details .humidity ,
.weather-details .wind{
display: flex;
align-items: center;
width: 50%;
}

.weather-details .humidity{
padding-left: 20px;
justify-content: flex-start;
}
.weather-details .wind{
padding: right 20px; ;
justify-content: flex-end;

}
.weather-details i {
    font-size: 56px;
    margin-right: 10px;
}

.weather-details span {
display: inline-block;
font-size: 22px;
font-weight: 500;

}
.weather-details p {
font-size: 14 px;
font-weight: 500;
}